
/*-------------------------------------------------------------------
Base
-------------------------------------------------------------------*/
*, *::after, *::before {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    height: auto;
}

html {
	line-height: 1.8;
}

body {
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
    font-family: 'San Francisco Text', sans-serif;
    @media #{$breakpoint-md} {
    	font-size: 1.5rem;	
    }
    font-weight: normal;
    max-width: 45rem;
    margin: 3.2rem auto;
    color: #707070;
}

/*-------------------------------------------------------------------
Typography
-------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'San Francisco Text', sans-serif;
    font-weight: normal;
    @media #{$breakpoint-md} {
    	font-size: 150%;
    }
}

ol,
ul {
	font-family: 'San Francisco Text', sans-serif;
	li {
		color: lighten(black, 65%);
	}
	@media #{$breakpoint-md} {
		font-size: 1.5rem;	
	}
}

p {
	font-family: "Times New Roman", serif;
	color: lighten(black, 65%);
	@media #{$breakpoint-md} {
		font-size: 1.5rem;	
	}
}


// Medium style underlined links
a {
	background-image: linear-gradient(to top,
	  rgba(0,0,0,0) 11%,
	  rgba(0,0,0,.3) 11%,
	  rgba(0,0,0,.3) 16%,
	  rgba(0,0,0,0) 16%
	  );
	&:hover {
		text-decoration: none;
		color: $link-color-hover;
	}
}

i, 
cite, 
em, 
var, 
address, 
dfn {
    font-family: "Times New Roman";
}

/*-------------------------------------------------------------------
Code
-------------------------------------------------------------------*/
pre,
p code {
	background-color: #f2f2f2;
	padding: 1rem;
	font-size: .9rem;
	color: #666;
}

p code {
	display: inline-block;
	padding: .3rem;
}

/*-------------------------------------------------------------------
Posts
-------------------------------------------------------------------*/
.post-meta {
	font-family: 'San Francisco Text', sans-serif;
	text-transform: uppercase;
	color: #bbb;
	@media #{$breakpoint-md} {
		font-size: 1.2rem;	
	}
}

/*-------------------------------------------------------------------
Footer
-------------------------------------------------------------------*/
.footer p {
	font-family: 'San Francisco Text', sans-serif;
	text-transform: uppercase;
	color: #bbb;
	font-size: .9rem;
}