/*-------------------------------------------------------------------
BASSCSS
http://www.basscss.com
-------------------------------------------------------------------*/
@import "bower_components/basscss-sass/base-buttons";
@import "bower_components/basscss-sass/base-forms";
@import "bower_components/basscss-sass/defaults";
@import "bower_components/basscss-sass/color-base";
@import "bower_components/basscss-sass/color-forms";
@import "bower_components/basscss-sass/colors";
@import "bower_components/basscss-sass/utility-layout";
@import "bower_components/basscss-sass/positions";
@import "bower_components/basscss-sass/base-reset";
@import "bower_components/basscss-sass/base-typography";
@import "bower_components/basscss-sass/grid";
@import "bower_components/basscss-sass/table-object";
@import "bower_components/basscss-sass/white-space";
@import "bower_components/basscss-sass/utility-typography";
@import "bower_components/basscss-sass/flex-object";
@import "bower_components/basscss-sass/responsive-states";
@import "bower_components/basscss-sass/responsive-white-space";
@import "bower_components/basscss-sass/button-link";
@import "bower_components/basscss-sass/table-object";


/*-------------------------------------------------------------------
Type
-------------------------------------------------------------------*/
body, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: "Karla", sans-serif;
}

p {
	font-size: 1.25rem;
	line-height: 1.5;
}

/*-------------------------------------------------------------------
Container
-------------------------------------------------------------------*/
.container {
	max-width: 40rem;
}

/*-------------------------------------------------------------------
Code
-------------------------------------------------------------------*/
pre,
p code {
	background-color: #f2f2f2;
	padding: 1rem;
	font-size: .9rem;
	color: #666;
}

p code {
	display: inline-block;
	padding: .3rem;
}