/*-------------------------------------------------------------------
Settings
-------------------------------------------------------------------*/
$profile: #808080;
$link-color: $profile;
$link-color-hover: darken($profile, 10%);

/*-------------------------------------------------------------------
BASSCSS
http://www.basscss.com
-------------------------------------------------------------------*/
@import "node_modules/basscss-sass/scss/type-scale";
@import "node_modules/basscss-sass/scss/typography";
@import "node_modules/basscss-sass/scss/layout";
@import "node_modules/basscss-sass/scss/align";
@import "node_modules/basscss-sass/scss/margin";
@import "node_modules/basscss-sass/scss/padding";
@import "node_modules/basscss-sass/scss/grid";
@import "node_modules/basscss-sass/scss/flexbox";
@import "node_modules/basscss-sass/scss/position";
@import "node_modules/basscss-sass/scss/border";
@import "node_modules/basscss-sass/scss/hide";


/*-------------------------------------------------------------------
For this demo site
-------------------------------------------------------------------*/
@import "demo";
